RewriteEngine On

RewriteBase /

RewriteRule ^index.$ /index.php [L]

RewriteRule ^login&\[(.*)\]$ index.php?p=login&c=$1 [L]

RewriteRule ^err404.(htm|html)?c=(.*)$ index.php?p=err404&c=$1 [L]

RewriteRule ^err404&\[(.*)\]$ index.php?p=err404&c=$1 [L]

RewriteRule ^category&(.*)-(.*)$ index.php?p=category&c=$1&id=$2 [L]